<a href="/one-product/{{this._id}}" class="product-item-wrapper">
    <div class="product-img">
        <img src="{{this.image}}" alt="{{this.name}} : {{this.description}}">
    </div>
    <p class="product-name">{{this.name}}</p>
    <p class="product-cat">{{this.category}}</p>
    <p class="product-price">Price £{{this.price}}</p>
    <span>Available Sizes</span>
    {{#each this.sizes}}
    <p class="product-size">EU {{this}}</p>
    {{/each}}
</a>